RewriteEngine On
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteCond %{REQUEST_URI} \.html$

RewriteCond %{REQUEST_URI} \.htm$
RewriteRule ^(.*)$ index.php

RewriteCond %{REQUEST_URI} \.html$
RewriteRule ^(.*)$ index.php

RewriteCond %{REQUEST_URI} \.shtml$
RewriteRule ^(.*)$ index.php

#DirectoryIndex /content/index.php
DirectoryIndex index.html index.htm index.shtml
Options -Indexes

