<script>
var tourPrice={$_gsdata.gspgid_va.1|intval};
var discounts=new Array();
{controller _class=tw_discount _assign=discounts}
{foreach from=$discounts item=d key=k}
	var discount=new Array();
	{foreach from=$d->get_recordset()->structure['htmlforms'] key=f item=ff}
	discount['{$f}']={$d.$f|json_encode};
	{/foreach}
	discounts['{$k}']=discount;
{/foreach}
{controller _class=tw_tour_promotions _assign=promotions Tour_id=$_gsdata.gspgid_va.0|intval}
{foreach from=$promotions->get_values("Type,Title,Amount,AmountType") item=d key=k}
	var discount=new Array();
	{foreach from=$d key=f item=ff}
		discount['{$f}']={$ff|json_encode};
	{/foreach}
	discounts['pr_{$k}']=discount;
{/foreach}
{literal}
function apply_discount(obj) {
	var d=discounts[obj.value];
	var f=$(obj).parent('div').next();
	$('[name="Title"]',f).val(d.Type+' '+d.Title);
	if (d.Type=='комиссия') $('[name="Type"]',f).val('инфо'); 
		else if (d.Type=='услуга') $('[name="Type"]',f).val('долг');
		else if (d.Type=='задолженность') $('[name="Type"]',f).val('долг');
		else if (d.Type=='скидка') $('[name="Type"]',f).val('скидка');
		else $('[name="Type"]',f).val('оплата');
	if (d.Hidden>0) $('[name="Hidden"]',f).attr("checked","checked"); 
		else $('[name="Hidden"]',f).removeAttr("checked");
	if (d.Amount>0) {
		if (d.AmountType=='%') {
			$('[name="Amount"]',f).val(tourPrice*d.Amount*.01);
		} else {
			$('[name="Amount"]',f).val(d.Amount);
		}
		
	} else {
		$('[name="Amount"]',f).val('');
	}
}
</script>
{/literal}


