{controller _class=tw_discount _assign=discounts ShowInList=1 _orderby="ListOrder, Type"}
{controller _class=tw_tour_promotions _assign=promotions Tour_id=$_gsdata.gspgid_va.0}
<div class="divbox" style="vertical-align:top;" >
скидка/предоплата<br>
<select onChange="apply_discount(this);">
<option>---выберите---</option>
{foreach from=$discounts item=d}
<option value="{$d->get_id()}">{$d.Type} {$d.Title} {if $d.Amount}{$d.Amount} {$d.AmountType}{/if}</option>
{/foreach}
{foreach from=$promotions item=d}
<option value="pr_{$d->get_id()}">{$d.Type} {$d.Title} {if $d.Amount}{$d.Amount} {$d.AmountType}{/if}</option>
{/foreach}
</select>
</div>
