{include file="inc_menu.html"}

<h3>Гиды</h3>
{if isset($_gsdata.gspgid_va.1)}
{assign var=d value=$smarty.now|date_format:"%Y-%m-%d"}
	{if $_gsdata.gspgid_va.1} <a href="/admin/guides/delete/{$_gsdata.gspgid_va.1}">Удалить</a>{/if}
{handler gspgid="/admin/form/tw_guide/`$_gsdata.gspgid_v`" _default="date=$d"}
{else}
<a href="/admin/guides/edit/0">Добавить</a>
{/if}

{controller _class=tw_guide _assign=guide _paging="pagenums:100"}
<table class="main">
<tbody>
<tr><th class="ttitle">ID</th>
<th class="ttitle">Login</th>
<th class="ttitle">Type</th>
<th class="ttitle">Имя</th>
<th class="ttitle">Email</th>
<th class="ttitle">Телефон</th>
<th class="ttitle">Походы</th>
</tr>
{foreach from=$guide item=n}
<tr class="tbody">
<td>{$n.guideID}</td>
<td>{$n.guideLogin}</td>
<td>{$n.guideType}</td>
<td>
	<a href="/admin/guides/edit/{$n->get_id()}">{$n.guideName}</a>
</td><td>{$n.guideEmail1}</td>
</td><td>{$n.guidePhone}</td>
<td>
<a href="/admin/guides/history/{$n->get_id()}">{$n->Tours->count()+$n->Tours2->count()} походов</a>
</td>
</tr>
{/foreach}
</tbody>
</table>
<div class="pages">{$guide_paging}</div>
