html,body{
	margin:0px;
	padding:0px;
	width:100%;
	height:100%;
	background-color:#28507F;
}


img {
	border:0px;
}

a {
	color: #0000cc;
}

.center {
	width:998px;
	margin:auto;
	background:#0064aa url('/i/bgr.jpg') 765px 0 repeat-y;
}

.header {
	width:766px;
	height:211px;
	background: url("/i/bgl.jpg") no-repeat scroll 0 0 transparent;
	position:relative;
	float:left;
}

.header h5 {
	font-weight:normal;
	font-size:14px;
	font-family:tahoma;
	color:#01407c;
	position:absolute;
	top:168px;
	left:205px;
	height:18px;
	line-height:18px;
	width:560px;
	text-align:center;
}
.right {
	width:232px;
	float:right;
}

.r2 {
	background:url('/i/bgrt.jpg') 0 0 no-repeat;
	padding-top:15px;
	padding-bottom:15px;
	padding-left:20px;
}

.r2 .profile{
	display:block;
	width:178px;
	padding-top:8px;
	padding-bottom:4px;
	padding-left:4px;
	padding-right:4px;
	background-color:#fff3e7;
	font-size:11px;
	font-family:tahoma;
	color:#000000;
}
.r2 .profile a {
	font-size:11px;
	font-family:tahoma;
	color:#000000;
}

.r2 .auth {
	display:block;
	width:186px;
	padding-top:8px;
	padding-bottom:4px;
	background-color:#fff3e7;
}

.r2 .auth label {
	display:block;
	width:48px;
	padding-right:8px;
	float:left;
	height:14px;
	line-height:17px;
	font-size:11px;
	font-family:tahoma;
	text-align:right;
}

.r2 .auth input[type="text"] {
	width:120px;
	height:14px;
	border:0px;
	font-size:11px;
	font-family:tahoma;
}

.r2 .auth input[type="password"] {
	width:120px;
	height:14px;
	border:0px;
	font-size:11px;
	font-family:tahoma;
}

.r2 .auth a {
	display:block;
	float:left;
	font-size:11px;
	font-family:tahoma;
	color:#000000;
	padding-left:8px;
	padding-top:3px;
}

.r2 .auth input[type="submit"] {
	display: block;
	float: right;
	width: 50px;
	text-align: center;
	margin-right: 8px;
	background: #FFF;
	border: 1px solid #aaa;
	color: #000000;
	padding-top: 3px;
	font-size: 11px;
	font-family: tahoma;
	font-weight: bold;
	text-decoration: none;
}

.r2 .find {
	display:block;
	margin-top:20px;
	width:186px;
	height:25px;
	padding-top:8px;
	background-color:#fff3e7;
}

.r2 .find label {
	display:block;
	width:40px;
	padding-right:8px;
	float:left;
	height:14px;
	line-height:17px;
	font-size:11px;
	font-family:tahoma;
	text-align:right;
}

.r2 .find input[type="text"] {
	width:72px;
	height:14px;
	border:0px;
	float:left;
	font-size:11px;
	font-family:tahoma;
}

.find input[type="submit"] {
	display:block;
	text-align: center;
	background-color:#ffffff;
	border:0px;
	color:#000000;
	height:17px;
	font-size:11px;
	padding-top:1px;
	padding-bottom:3px;
	font-family:tahoma;
	border: 1px solid #aaa;
}
.find input[type="submit"] {
	float:right;
	width: 50px;
	margin-right:8px;
}

.r2 p {
	font-family:tahoma;
	font-size:12px;
	color:#FFFFFF;
}

.r2 p a {
	color:#ffffff;
}

.r2 p a.on {
	color:#f6c405;
}

.r2 ul {
	display:block;
	margin:0px;
	padding:0px;
	padding-left:20px;
	padding-bottom:20px;
	list-style:none;
}
.r2 li {
	display:block;
	margin:0px;
	height:15px;
	padding:0px;
	list-style:none;
	margin-bottom:3px;
}

.r2 li a {
	font-family:tahoma;
	font-size:12px;
	color:#FFFFFF;
}

.r2 li a.on {
	color:#f6c405;
}

.r2 .banner {
	display:block;
	width:192px;
	margin-top:14px;
}

.r2-ua {
	text-align:right;
	width:186px;
	padding-top:0px;
	padding-bottom:0px;
}

.hot_news {
	background-color:#feedd9;
	padding-left:10px;
	padding-right:10px;
	width:172px;
}

.hot_news h5 {
	display:block;
	margin:0px;
	padding:0px;
	padding-left:10px;
	margin-left:-10px;
	width:182px;
	height:25px;
	line-height:25px;
	font-family:tahoma;
	color:#FFFFFF;
	font-weight:normal;
	background:url('/i/bg_news.gif') 0 0 repeat-x;
}
.hot_news h5 a {
	color:#FFFFFF;
	text-decoration: none;
}

.hot_news_link div {
	text-align:right;
	margin-bottom:3px;
}
.hot_news_link a {
	color:#000;
	font-family:tahoma;
	font-size:12px;
}



.hot_news ul {
	display:block;
	margin:0px;
	padding:0px;
	padding-top:10px;
	list-style:none;
}

.hot_news li {
	display:block;
	margin:0px;
	padding:0px;
	position:relative;
	padding-left:60px;
	height: auto;
	min-height:48px;
	padding-bottom:10px;
	font-family:tahoma;
	font-size:11px;
}

.hot_news li a {
	color:#000000;
	font-size:11px;
}

.hot_news li img {
	position:absolute;
	top:0px;
	left:0px;
}

.news_list {
	padding:10px;
	list-style-type: none;
}

.news_list span {
	font-weight: bold;
}

.news_list a {
	color:#000000;
	font-size:14px;
}

.news_list img {
	position:absolute;
	top:0px;
	left:0px;
}


.left {
	width:766px;
	float:left;
	background:url('/i/bgl1.jpg') 0 0 repeat-y;
	min-height:498px;
}

.nobg {
	background:#00315a none !important;
}

.data {
	background:url('/i/bgl_shd.jpg') 0 0 no-repeat;
	padding-top:47px;
	position:relative;
}


.logo {
	position:absolute;
	top:7px;
	left:15px;
}

.deviz {
	position:absolute;
	top:7px;
	left:195px;
	width:574px;
	font-family:tahoma;
	font-size:12px;
	color:#ffffff;
	text-align:center;
	padding-top:5px;
}

.menu {
	width:193px;
	height:451px;
	float:left;
}

.menu ul {
	display:block;
	margin:0px;
	padding:0px;
	list-style:none;
	margin-left:15px;
}

.menu ul li {
	display:block;
	margin:0px;
	padding:0px;
	width:144px;
	height:34px;
	padding-left:15px;
	margin-bottom:7px;
	font-family:tahoma;
	font-size:12px;
	line-height:34px;
	color:#FFFFFF;
	background:url('/i/bg_li.png') 0 0 no-repeat;
}

.menu ul li a {
		color:#FFFFFF;
		text-decoration:none;
}

.menu ul li.on {
	background-position:-159px 0px;
}

.menu ul li.on a {
	color:#01407c;
}

.head {
	background:url('/i/head.jpg') 0 0 repeat-y;
	width:766px;
	min-height:100px;
	position:relative;
	vertical-align: top;
}


.head-left {
	text-align: left;
	width: 231px;
	display: inline-block;
}

.head-right {
	text-align: right;
	width: 500px;
	display: inline-block;
}

.head_calendar {
}
.head_calendar ul {
	display: block;
	padding: 0px;
	margin: 0px;
	list-style: none;
	padding-bottom: 5px;
}

.head_calendar ul li {
	display:inline;
	text-align:center;
	font-size:13px;
	font-family:tahoma;
	padding-left:30px;
}

.head_calendar ul li a {
	color:#FFFFFF;
}

.head_calendar ul li a.current {
	color:#fac301;
	text-decoration:none;
}

.tour_name {
	font-size:16px;
	font-weight:bold;
	font-family:tahoma;
	color:#ffffff;
}

.tour_name h1 {
	font-size:26px;
	font-family:tahoma;
	color:#fac301;
	margin:0px;
	padding-bottom:10px;
}

.tour_route {
	font-size:14px;
	font-weight:bold;
	float:left;
	width:300px;
	padding:20px;
	color:#0e3170;
}

.head2 {
	text-align:center;
	font-family:tahoma;
	font-size:14px;
	color:#FFFFFF;
	padding-bottom:10px;
}

.content {
	width:533px;
	min-height:800px;
	border-bottom:3px solid #0064aa;
	float:right;
	background:#FFFFFF url('/i/bgc.gif') 0 0 repeat-x;
	/*overflow:auto;*/
	font-family:tahoma;
	font-size:12px;
	padding-left:20px;
	padding-right:20px;
	padding-top:10px;
	padding-bottom:10px;
}

.content_blue {
	background:#0075B5 url('/i/bgc.gif') 0 0 repeat-x !important;
}

.content2 {
	width:533px;
	min-height:720px;
	border-bottom:3px solid #0064aa;
	float:right;
	background:#FFFFFF url('/i/bgc.gif') 0 0 repeat-x;
	/*overflow:auto;*/
	font-family:tahoma;
	font-size:12px;
	padding-left:20px;
	padding-right:20px;
	padding-top:10px;
	padding-bottom:10px;
	margin-top:-47px;
}

.content3 {
	width:715px;
	min-height:720px;
	border-bottom:3px solid #0064aa;
	float:right;
	background:#FFFFFF;
	/*overflow:auto;*/
	font-family:tahoma;
	font-size:13px;
	padding-left:20px;
	padding-right:20px;
	padding-top:10px;
	padding-bottom:10px;
	margin-top:0px;
}
.content3 img, .content img {
	margin:10px;
}

.tour_info {
	margin-left:-10px;
	width:549px;
	height:114px;
	background:url('/i/bg_tour.jpg') 0 0 no-repeat;
	padding-bottom:10px;
}

.tour_left {
	width:50%;
	float:left;
	text-align:center;
}

.tour_left h1 {
	margin:0px;
	padding:0px;
	margin-top:30px;
	padding-bottom:10px;
	color:#01407c;
	font-size:20px;
	font-weight:bold;
	font-family:tahoma;
	text-transform:uppercase;
}

.tour_right {
	width:50%;
	float:left;
	text-align:left;
}

.tour_right h4 {
	margin:0px;
	padding:0px;
	margin-top:30px;
	padding-bottom:10px;
	padding-right: 10px;
	color:#01407c;
	font-size:12px;
	font-weight:bold;
	font-family:tahoma;
}

.gallery {
	text-align:right;
	color:#01407c;
	font-size:14px;
	font-weight:bold;
	text-transform:uppercase;
}

.gallery ul {
	display:block;
	margin:0px;
	padding:0px;
	padding-top:10px;
}

.gallery li {
	display:block;
	margin:0px;
	padding:0px;
	float:left;
	padding-right:29px;
}

.gallery li.last {
	padding-right:0px;
}

.title {
	height:30px;
	width:573px;
	background-color:#f6c405;
	margin-left:-20px;
	margin-top:-6px;
	margin-bottom:10px;
}

.title h1 {
	text-transform:uppercase;
}

.title h3 {
	margin:0px;
	padding:0px;
	float:left;
	color:#01407c;
	font-size:14px;
	font-weight:normal;
	line-height:30px;
	padding-left:20px;
	text-transform:uppercase;
}
.title h3 a {
	color:#01407c;
	font-size:14px;
	font-weight:normal;
	line-height:30px;
	padding-left:20px;
	text-transform:uppercase;
}

.title2 {
	/*
	height:24px;
	*/
	padding-top:5px;
	padding-bottom:5px;
	width:573px;
	background-color:#ffffff;
	margin-left:-20px;
	margin-top:0px;
	margin-bottom:10px;
}

.title2 h3 {
	margin:0px;
	padding:0px;
	color:#01407c;
	font-size:14px;
	font-weight:bold;
	text-transform:uppercase;
	line-height:30px;
	text-align:center;
	padding-left:20px;
}



.tblist {
	width:573px;
	margin-left:-20px;
	padding:0px;
	border:0px;
	table-layout: fixed;
	empty-cells: show;
}

.tblist thead th {
	font-weight:normal;
	font-size:11px;
	font-family:tahoma;
	color:#e6bc13;
	vertical-align:top;
	padding-top:5px;
	padding-bottom:5px;
	background-color:#0075b5;
}

.tbf {
	text-align:left;
	padding-left:20px;
}
.tbfr {
	text-align:right !important;
	padding-right:20px;
	border-bottom:2px solid #0075b5;
}

.tblist tbody td {
	color:#01407c;
	background-color:#FFFFFF;
	text-align:center;
	font-family:tahoma;
	font-size:11px;
	padding-top:10px;
	padding-bottom:5px;
}

.tblist tbody td a {
	color:#01407c;
	font-family:tahoma;
	font-size:11px;
	text-decoration: none;
	border-bottom:1px dashed #01407c;
}
.tblist tbody td a.nondashed {
	 border-bottom: 0px;
}

.tblist tbody td span {
	font-size:11px;
	font-weight:bold;
}
.tblist tbody td a span {
	border-bottom: 1px solid;
}
.tblist tbody td h2{
	font-size:16px;
	font-family:tahoma;
	display: inline;
}
.tblist tbody td h2 a{
	font-size:16px;
	font-family:tahoma;
}

.tblist tbody td.tbf {
	font-weight:bold;
	text-align:left;
} 

.tblist tbody td.tbl {
	background-color:#0075b5;
} 



.title h1 {
	margin:0px;
	padding:0px;
	float:right;
	color:#01407c;
	font-size:14px;
	font-weight:bold;
	text-transform:uppercase;
	line-height:30px;
	padding-right:20px;
}

.title a {
	text-decoration: none;
	color: #01407c;
}

.clear {
	clear:both;
}

.red {
	color: #FF0000 !important;
	border-bottom:1px solid #FF0000 !important;
}
.footer {
	width:986px;
	background-color:#0075b5;
	position:relative;
	float:left;
	border: 1px solid #85acc7;
	padding: 5px;
	margin-bottom: 10px;
	color: #FFFFFF;
	text-align: center;
	font-size:11px;
}
.footer .version {
	text-align: right;
	color: #85acc7;
}
.footer a {
	color: #FFFFFF;
}
.error{
	color: #FF0000;
	font-size: 9px;
	text-align: right;
	padding-right: 2px;
	padding-left: 2px;
}
span.error {
	background-color: #FFC6CA; padding-left:10px; padding-right:10px;
}

table.tblist div.fade {
    margin-right: -10px;
}
div.fade {
    overflow: hidden;
    position: relative;
    white-space: nowrap;
}
.fade_right {
    background-position: -16px -64px;
    height: 32px;
    left: auto;
    margin-top: -16px;
    position: absolute;
    right: 0;
    top: 50%;
    width: 32px;
}
.sprite32bit {
    background-color: transparent;
    background-image: url("/i/sprite32bit.png");
    background-repeat: no-repeat;
    display: block;
    overflow: hidden;
    position: relative;
}

.guide_list {
	padding-left:10px;
	padding-right:10px;
	width:100%;
}

.guide_list ul {
	display:block;
	margin:0px;
	padding:0px;
	padding-top:10px;
	list-style:none;
}

.guide_list li {
	display:block;
	margin:0px;
	padding:0px;
	position:relative;
	padding-left:104px;
	height: auto;
	min-height:98px;
	padding-bottom:10px;
	font-family:tahoma;
	font-size:11px;
}

.guide_list li a {
	color:#000000;
	font-size:11px;
}

.guide_list li img {
	position:absolute;
	top:0px;
	left:0px;
}

.main table {
	border:0px;
	padding: 0px;
	background-color:#DDD;
}
.main td {
	background-color:#DDD;
	padding-left: 3px;
	padding-right: 3px;
	margin: 0px;
}
.tb_usertours {
	width:100%;
	margin-left:0px;
}
.tb_usertours tbody td.tbleft {
	padding-left:20px;
	text-align:left;
} 
a.dashed{
	color:#01407c;
	font-family:tahoma;
	font-size:11px;
	text-decoration: none;
	border-bottom:1px dashed #01407c;
}

form.form_reports_reports label {
	display:block;
}
form.form_reports_reports .field3{
	width:600px;
}
form.form_reports_reports textarea.field3{
	height:400px;
}

.breadcrumb {
	padding: 8px 15px;
	margin: 0 0 20px -20px;
	width: 543px;
	list-style: none;
	background-color:#FFF;
}
ul.breadcrumb li {
	line-height: 20px;
	display: inline-block;
}
.breadcrumb a {
	color: #000;
}
ul.breadcrumb li.active a {
	font-weight:bold;
}
.breadcrumb .divider {
padding: 0 5px;
color: #CCC;
}

.breadcrumb span.dropdown {
	margin-left:20px;
}


.dropdown-menu-columns{
	width: 500px;
}


.userform .label {
	font-size:11px;
	color: rgb(168, 107, 107);
	margin-right:20px;
	width: 210px;
	display:block;
	float:right;
}
.userform td {
	padding-bottom:15px;
	vertical-align:top;
	line-height: 20px;
}
.alert {
display: block;
padding-top: 8px;
padding-bottom: 4px;
padding-left: 4px;
padding-right: 4px;
background-color: #fff3e7;
font-size: 13px;
font-family: tahoma;
color: #000000;
margin-top:6px;
margin-bottom:6px;
}
.attn {
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 10px;
	background-color: #F7F2F2;
	padding: 10px;
	border: thin dotted #F00;
	width: 500px;
	margin-left: auto;
	margin-right: auto;
}

#comfort1exp a{
	display: inline-block;
	width: 132px;
	height: 43px;
	background-image: url(http://velotur.ru/content/levels/comfort-exp.gif);
	background-repeat: no-repeat;
	float: right;
	margin-right: 5px;
	margin-left: 5px;
}
#comfort1exp a:hover {
	background-position: -132px 0;
}
#comfort2tour a{
	display: inline-block;
	width: 132px;
	height: 43px;
	background-image: url(http://velotur.ru/content/levels/comfort-tour.gif);
	background-repeat: no-repeat;
	float: right;
	margin-right: 5px;
	margin-left: 5px;
}
#comfort2tour a:hover {
	background-position: -132px 0;
}
#comfort3std a{
	display: inline-block;
	width: 132px;
	height: 43px;
	background-image: url(http://velotur.ru/content/levels/comfort-std.gif);
	background-repeat: no-repeat;
	float: right;
	margin-right: 5px;
	margin-left: 5px;
}
#comfort3std a:hover {
	background-position: -132px 0;
}
#comfort4euro a{
	display: inline-block;
	width: 132px;
	height: 43px;
	background-image: url(http://velotur.ru/content/levels/comfort-euro.gif);
	background-repeat: no-repeat;
	float: right;
	margin-right: 5px;
	margin-left: 5px;
}
#comfort4euro a:hover {
	background-position: -132px 0;
}
#level1starter a{
	display: inline-block;
	width: 132px;
	height: 43px;
	background-image: url(http://velotur.ru/content/levels/level-starter.gif);
	background-repeat: no-repeat;
	float: right;
	margin-right: 5px;
	margin-left: 5px;
}
#level1starter a:hover {
	background-position: -132px 0;
}
#level2simple a{
	display: inline-block;
	width: 132px;
	height: 43px;
	background-image: url(http://velotur.ru/content/levels/level-simple.gif);
	background-repeat: no-repeat;
	float: right;
	margin-right: 5px;
	margin-left: 5px;
}
#level2simple a:hover {
	background-position: -132px 0;
}
#level3std a{
	display: inline-block;
	width: 132px;
	height: 43px;
	background-image: url(http://velotur.ru/content/levels/level-std.gif);
	background-repeat: no-repeat;
	float: right;
	margin-right: 5px;
	margin-left: 5px;
}
#level3std a:hover {
	background-position: -132px 0;
}
#level4medium a{
	display: inline-block;
	width: 132px;
	height: 43px;
	background-image: url(http://velotur.ru/content/levels/level-medium.gif);
	background-repeat: no-repeat;
	float: right;
	margin-right: 5px;
	margin-left: 5px;
}
#level4medium a:hover {
	background-position: -132px 0;
}
#level5hard a{
	display: inline-block;
	width: 132px;
	height: 43px;
	background-image: url(http://velotur.ru/content/levels/level-hard.gif);
	background-repeat: no-repeat;
	float: right;
	margin-right: 5px;
	margin-left: 5px;
}
#level5hard a:hover {
	background-position: -132px 0;
}
img.fl_left {
	float: left;
	margin-right: 20px;
	border: thin solid #000;
	}
img.fl_right {
	float: right;
	margin-left: 20px;
	border: thin solid #000;
	}
