{extends file="index.html"}

{block name="title"}
	mailhistory
{/block}

{block name="content"}


	<h4>mailhistory</h4>



			{handler gspgid="/filter/" class="select_by_links" link="mailhistory.Tour:id" name="Tour" urltype=get }
			
        
        

    
        
		{handler gspgid="/filter/" class="limit" name="limit" urltype=session values='10,20,50,500' default_value=20}
		{handler gspgid="/filter/" class="offset"  name="offset" urltype=get limit='limit'}
		        



		{controller _class="mailhistory" _assign="mailhistory" _filters="Tour,limit,offset,"}


			Tour
        {handler gspgid="/filter/show" name="Tour"  recordset=$mailhistory tpl="links_line.html"  }
	
        
		{handler gspgid="/filter/show" name="offset" tpl="offset_bootstrap.html" page_title='Page' page_prev='previous' page_next='next' page_between='from' pages_count=21 recordset=$mailhistory}
		{handler gspgid="/filter/show" name="limit" tpl="limit_dropdown.html" prelabel='show by' label='records'}
        


	<table class="table">
	<thead>
	<tr>
		<th>
                


            Subject

            
            	</th>
		<th>
                


            Status

            
            	</th>
		<th>
                


            Test mode

            
            	</th>
	
		</tr>

	</thead>
	
	{foreach from=$mailhistory item="e"}
	<tr>
						<td >
									<a href="/{current_handler()}/show/{$e->get_id()}">{$e->mailSubject}</a>
				    
			</td>
						<td >
						
					{$e->mailStatus}
                    
			</td>
						<td >
						
					{$e->mailTestMode}
                    
			</td>
						
	</tr>
	{/foreach}
	</table>

        
		{handler gspgid="/filter/show" name="offset" tpl="offset_bootstrap.html" page_title='Page' page_prev='previous' page_next='next' page_between='from' pages_count=21 recordset=$mailhistory}
		{handler gspgid="/filter/show" name="limit" tpl="limit_dropdown.html" prelabel='show by' label='records'}
        

{/block}
